.body
{
     

     /* style */
     border-radius: 5px;
     background-color: #26465f !important;

     /* size */
     max-width: 800px;
     max-height: 95%;
     width: 90%;
     height: 95%;

     /* placing */
     margin: auto;
     margin-top: 2%;
     overflow: hidden;
     top: 0px;
}
